<h1>蔵書一覧</h1>

<hr>

<div class="well">
<h4><b>書籍検索</b></h4>
<%= search_form_for @search do |f| %>
  <%= f.label :title_cont, 'タイトル' %>
  <%= f.text_field :title_cont %>
  <%= button_tag( :class => "btn btn-success") do %>
    <i class="glyphicon glyphicon-search"></i> 検索
  <% end %>
<% end %>
</div>

<br>

<% if @books.any? %>
<table class="table table-hover">
  <thead>
     <tr class="info">
       <th>ID</th>
      <th>タイトル</th>
      <th>著者</th>
      <th>出版社</th>
      <th>発売日</th>
        <% if can? :create, Book %>
        <th>
          <div align="right">
          <%= link_to new_book_path, :class => "btn btn-primary" do %>
          <i class="glyphicon glyphicon-plus"></i>
          <% end %>
          </div>
        </th>
      <% else %>
        <th>情報</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |b| %>
    <tr>
    <td><%= b.id %></td>
    <td><%= b.title %></td>
    <td><%= b.author %></td>
    <td><%= b.manufacturer %></td>
    <td><%= b.publication_date %></td>
    <td align="right">
        <%= link_to book_path(b.id), class: "btn btn-info" do %>
          <i class="glyphicon glyphicon-info-sign"></i>
        <% end %>

        <% if can? :update, Book %>
          <%= link_to edit_book_path(b.id), class: "btn btn-warning" do %>
            <i class="glyphicon glyphicon-edit"></i>
          <% end %>
        <% end %>

        <% if can? :destroy, Book %>
          <%= link_to book_path(b.id), method: :delete, data: { confirm: "削除してもよろしいですか？" }, :class => "btn btn-danger" do %>
            <i class="glyphicon glyphicon-remove-circle"></i>
          <% end %>
        <% end %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4>本がありません。</h4>
<% end %>
