<h1>本の詳細</h1>


<table class="table table-bordered">
  <tbody>
    <tr>
    <td width="100", class="info">イメージ</td> <td><%= image_tag @book.image_url %></td>
    </tr>
    <tr>
    <td width="100", class="info">タイトル</td> <td><%= @book.title %></td>
    </tr>
    <tr>
    <td width="100", class="info">著者</td> <td><%= @book.author %></td>
    </tr>
    <tr>
    <td width="100", class="info">出版社</td> <td><%= @book.manufacturer %></td>
    </tr>
    <tr>
    <td width="100", class="info">出版日</td> <td><%= @book.publication_date %></td>
    </tr>
    <tr>
    <td width="100", class="info">ISBN</td> <td><%= @book.isbn %></td>
    </tr>
    <tr>
    <td width="100", class="info">管理番号</td> <td><%= @book.code %></td>
    </tr>
    <tr>
    <td width="100", class="info">貸出回数</td> <td><%= @book.book_rental_info.rental_count %></td>
    </tr>
    <tr>
    <td width="100", class="info">貸出状態</td> <td>未貸出</td>
    </tr>
    <tr>
    <td width="100", class="info">借りてる人</td> <td><%= @book.book_rental_info.now_rental_name %></td>
    </tr>
  </tbody>
</table>
