<h1貸出ログ</h1>

<hr>


<% if @logs.any? %>
<table class="table table-bordered table-hover">
  <thead>
     <tr class="info"><th>id</th><th>タイトル</th><th>ユーザー</th><th>返却状態</th><th>貸出日時</th><th>返却日時</th></tr>
  </thead>
  <tbody>
    <% @logs.each do |l| %>
    <tr>
    <td><%= l.id %></td>
    <td><%= l.book.title %></td>
    <td><%= l.user.name %></td>
    <td>
    <% if l.is_returned == false %>
      未返却
    <% else %>
      返却済み
    <% end %>  
    </td>
    <td><%= l.rental_date.in_time_zone('Tokyo') %></td>
    <% if l.is_returned == false %>
      <td>未返却</td>
    <% else %>
      <td><%= l.return_date.in_time_zone('Tokyo') %></td>
    <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
<% else %>
  <h4>ログはありません。</h4>
<% end %>
